body {
  background: #f3d0d7;
  height: 100vh;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

@media (max-width: 600px) {
  .responsive-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
}

@media (min-width: 601px) {
  .App {
    margin-left: 350px;
  }
}
